<div *ngIf="consent" class="container mt-4">
    <div class="row">
        <div class="col-sm-6">
            <h2>Please share my medical information</h2>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="provisionType" id="provisionTypeAlways"
                    [(ngModel)]="simple_consent.mode" value="always">
                <label class="form-check-label" for="provisionTypeAlways">
                    With no exceptions
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="provisionType" id="provisionTypeNever"
                    [(ngModel)]="simple_consent.mode" value="never">
                <label class="form-check-label" for="provisionTypeNever">
                    Under no circumstances
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="provisionType" id="provisionTypeCustom"
                    [(ngModel)]="simple_consent.mode" value="custom">
                <label class="form-check-label" for="provisionTypeCustom">
                    Only for certain categories I specify
                </label>
            </div>

            @if (simple_consent.mode == 'custom') {
            <div class="form-check form-switch ms-4 mt-3">
                <input class="form-check-input" type="checkbox" role="switch" id="categoryDemographics" checked>
                <label class="form-check-label" for="categoryDemographics">Demographics</label>
            </div>
            <div class="form-check form-switch ms-4">
                <input class="form-check-input" type="checkbox" role="switch" id="categoryDiagnoses" checked>
                <label class="form-check-label" for="categoryDiagnoses">Diagnoses</label>
            </div>
            <div class="form-check form-switch ms-4">
                <input class="form-check-input" type="checkbox" role="switch" id="categoryDisabilities" checked>
                <label class="form-check-label" for="categoryDisabilities">Disabilities</label>
            </div>
            <div class="form-check form-switch ms-4">
                <input class="form-check-input" type="checkbox" role="switch" id="categoryGenetics" checked>
                <label class="form-check-label" for="categoryGenetics">Genetics</label>
            </div>
            <div class="form-check form-switch ms-4">
                <input class="form-check-input" type="checkbox" role="switch" id="categoryInfectiousDiseases" checked>
                <label class="form-check-label" for="categoryInfectiousDiseases">Infectious Diseases</label>
            </div>
            <div class="form-check form-switch ms-4">
                <input class="form-check-input" type="checkbox" role="switch" id="categoryMedications" checked>
                <label class="form-check-label" for="categoryMedications">Medications</label>
            </div>
            <div class="form-check form-switch ms-4">
                <input class="form-check-input" type="checkbox" role="switch" id="categoryMentalHealth" checked>
                <label class="form-check-label" for="categoryMentalHealth">Mental Health</label>
            </div>
            <div class="form-check form-switch ms-4">
                <input class="form-check-input" type="checkbox" role="switch" id="categorySexualAndReproductiveHealth"
                    checked>
                <label class="form-check-label" for="categorySexualAndReproductiveHealth">Sexual and Reproductive Health
                </label>
            </div>
            <div class="form-check form-switch ms-4">
                <input class="form-check-input" type="checkbox" role="switch" id="categorySocialDeterminantsOfHealth"
                    checked>
                <label class="form-check-label" for="categorySocialDeterminantsOfHealth">Social Determinants of
                    Health</label>
            </div>
            <div class="form-check form-switch ms-4">
                <input class="form-check-input" type="checkbox" role="switch" id="categorySubstanceUse" checked>
                <label class="form-check-label" for="categorySubstanceUse">Substance Use</label>
            </div>
            <div class="form-check form-switch ms-4">
                <input class="form-check-input" type="checkbox" role="switch" id="categoryViolence" checked>
                <label class="form-check-label" for="categoryViolence">Violence</label>
            </div>
            }

            <div class=" mt-4" *ngIf="!consent.period">
                <!-- <h2>Effective From</h2> -->
                <button class="btn btn-sm btn-primary" (click)="addPeriod()"><span class="bi-calendar"></span>
                    &nbsp;Add Effective Dates</button><br>
                <span class="form-text">None are currently set.</span>

            </div>
            <div *ngIf="consent.period" class="row mt-4">

                <div class="col-sm-12 mb-2"> <button class="btn btn-sm btn-primary" (click)="removePeriod()"
                        *ngIf="consent.period"><span class="bi-save"></span>&nbsp; Remove Date Restrictions</button>
                </div>

                <div class="col-sm-6">
                    <div class="form-floating" *ngIf="consent.period">
                        <input class="input form-control form-control-sm date datepicker-input" type="text"
                            name="consent_provision_period_start" *ngIf="consent.provision && consent.period"
                            [(ngModel)]="consent.period.start">
                        <label for="consent_provision_period_start">Start</label>
                        <small class="form-text">Begins at this date in yyyy-mm-dd format.</small>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-floating" *ngIf="consent.period">
                        <input class="form-control form-control-sm date datepicker-input" type="text"
                            placeholder="yyyy-mm-dd" name="consent_provision_period_end"
                            *ngIf="consent.provision && consent.period" [(ngModel)]="consent.period!.end" />
                        <label for="consent_provision_period_end">End</label>
                        <small class="form-text">Ends at this date in yyyy-mm-dd format.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <h2>For purposes of</h2>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="purposeTreatment"
                    [(ngModel)]="simple_consent.purposes.treatment">
                <label class="form-check-label" for="purposeTreatment">
                    Treatment providing or supporting my care
                </label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="purposeResearch"
                    [(ngModel)]="simple_consent.purposes.research">
                <label class="form-check-label" for="purposeResearch">
                    Research intended to benefit others
                </label>
            </div>


            <section class="mt-4">
                <h2>With the following organizations</h2>

                <div *ngIf="consent?.controller && consent!.controller!.length > 0" class="mt-2">
                    <table class="table table-condensed table-striped">
                        <tbody>
                            <tr *ngFor="let o of consent!.controller">
                                <td>{{organizationForReference(o.reference!)?.name}}</td>
                                <td><span>{{o.reference}}</span>
                                </td>
                                <td><button *ngIf="o.reference" class="btn btn-sm btn-primary"
                                        (click)="removeOrganization(organizationForReference(o.reference)!)"><span
                                            class="bi-trash"></span>
                                        Remove</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h4>Search for more...</h4>
                <div class="form-floating">
                    <div class="input-group">

                        <input class="form-control" type="text" name="consent_subject_search_text"
                            [(ngModel)]="organizationSearchText"
                            (change)="organizationSearch(organizationSearchText)" />
                        <button class="btn btn-outline btn-primary" type="button"
                            (click)="organizationSearch(organizationSearchText)"
                            [disabled]="organizationSearchText == ''">

                            <span *ngIf="!organizationSearching" class="bi bi-search"></span>
                            <span *ngIf="organizationSearching" class="bi bi-hourglass-split"></span>
                            Search</button>

                    </div>
                    <small class="form-text">Search for organizations to whom your wishes will apply.</small>
                </div>

                <div *ngIf="organizationList" id="organizationSearchResults" class="mt-4">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-sm btn-outline-primary" type="button"
                            (click)="organizationList = null"><span class="bi bi-x-circle"></span>
                            Close Results</button>
                    </div>
                    <table *ngIf="organizationList" class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>ID</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let o of organizationList.entry">
                                <td><span>{{o.resource?.name}}</span>
                                </td>
                                <td>{{o.resource?.id}}</td>
                                <td><button *ngIf="o.resource && !isSelectedOrganization(o.resource)"
                                        class="btn  btn-outline-primary" (click)="selectOrganization(o.resource)"><span
                                            class="bi bi-plus-circle"></span> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">


            <div class="row mt-4">
                <h2>Authorization</h2>
                <div class="col-sm-8">
                    <div class="form-floating">
                        <input class="form-control form-control-sm" type="text" name="consent_authorization_name"
                            [(ngModel)]="authorizationName" />
                        <label for="consent_authorization_name">Your Full Legal Name</label>
                        <small class="form-text"></small>
                    </div>
                    <div class="signature m-2" [innerText]="authorizationName">

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-floating">
                        <input class="form-control form-control-sm date datepicker-input" type="text"
                            placeholder="yyyy-mm-dd" name="consent_authorization_date" />
                        <label for="consent_authorization_date">Date</label>
                        <small class="form-text"></small>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>