<ng-template #popContent>
  <div [innerHTML]="previewContent"></div>
</ng-template>

<div
  class="form-check form-switch ms-4"
  [ngClass]="{ 'mt-3': isFirst === true }">
  <input
    class="form-check-input"
    type="checkbox"
    role="switch"
    checked
    [formControl]="formCheckInput"
    [id]="category.id" />
  <label class="form-check-label" [for]="category.id">{{
    category.label
  }}</label>
  <i
    class="form-check-popover-icon bi bi-info-circle-fill ms-1"
    popoverClass="form-check-popover"
    placement="end"
    container="body"
    [ngbPopover]="popContent"
    [popoverTitle]="popoverTitle"></i>
</div>
