@if (provision) {
  @if (period) {
    <div class="row mt-4">
      <div class="col-sm-12 mb-2">
        <button class="btn btn-sm btn-primary" (click)="removePeriod()">
          <span class="bi-save"></span>&nbsp; Remove Date Restrictions
        </button>
      </div>

      <div class="col-sm-6">
        <div class="form-floating">
          <input
            class="input form-control form-control-sm date datepicker-input"
            type="text"
            name="consent_provision_period_start"
            [(ngModel)]="period.start" />
          <label for="consent_provision_period_start">Start</label>
          <small class="form-text"
            >Begins at this date in yyyy-mm-dd format.</small
          >
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-floating">
          <input
            class="form-control form-control-sm date datepicker-input"
            type="text"
            placeholder="yyyy-mm-dd"
            name="consent_provision_period_end"
            [(ngModel)]="period.end" />
          <label for="consent_provision_period_end">End</label>
          <small class="form-text"
            >Ends at this date in yyyy-mm-dd format.</small
          >
        </div>
      </div>
    </div>
  } @else {
    <div class="mt-4">
      <!-- <h2>Effective From</h2> -->
      <button class="btn btn-sm btn-primary" (click)="addPeriod()">
        <span class="bi-calendar"></span> &nbsp;Add Effective Dates</button
      ><br />
      <span class="form-text">None are currently set.</span>
    </div>
  }
}
